.Integrations {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 80px 0;
  background: #f7f7f9;
}
.Integrations .title {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.integrationsContent{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px 10px;
  flex-wrap: wrap;
}

.Integration {
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  padding: 0 20px;
  cursor: pointer;
}
.Integration .content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  transition: transform 0.2s ease 0s;
}
.Integration:hover {
  box-shadow: 0 11px 15px 0 rgb(13 102 229 / 20%);
  transform: translateY(-0.5em);
  transition: transform 0.2s ease 0s;
}
.Integration .content img {
  width: 30%;
}

.Integration .plusIcon {
  font-size: 30px;
  text-align: center;
  width: 20%;
  font-weight: 800;
  color: #2866e5;
}

.Integration .label {
  font-size: 0.85em;
  margin-top: 0.8em;
  text-align: center;
  margin-bottom: 0;
}
